body{
    color: #333333;
    font-family: 'Lucida Grande', 'Lucida Sans Unicode', sans-serif;
    margin-left: auto;
    margin-right: auto;
    width: 940px;
    text-align: justify;
}
/* cabeçalho*/

.sacola{
    background-image: url(../img/sacola.png );
    background-repeat: no-repeat;
    background-position: top right;
    font-size: 14px;
    padding-right: 35px;
    text-align: right;
    width: 140px;

}